.project-container{
    margin-top: 100px;
    margin-left: 130px;
    width: 984px;
    margin-bottom: 20px;
}
.project-head{
    margin-bottom: 8px;
}
.project{
    width: 86px;
    height: 38px;
    border: 1px solid #D1CBB5;
    padding: 8px;
    margin-top: 13px;
}
.projects{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    color: #D1CBB5;
}
.arrow-buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.arrow-left,.arrow-right{
    background-color: transparent;
    border: none;
    width: 64px;
    height: 64px;
}
.arrow-left svg{
    width: 64px;
    height: 64px;
    fill: #D1CBB5;
    margin-right: 8px;
}
.arrow-right svg{
    width: 64px;
    height: 64px;
    fill: #D1CBB5;
    margin-left: 8px;
}
.project-body{
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project-slider{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    overflow-x: hidden;
}
.project-card{
    width: 480px;
    height: 320px;
    border: 1px solid #D1CBB5;
    padding: 16px;
    margin-right: 24px;
}
.last-card{
    margin-right: 0px;
}
.project-title-box{
    width: 448px;
    height: 61px;
    margin-bottom: 2px;
}
.project-title{
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 48px;
    line-height: 61.25px;
    color: #D1CBB5;
    text-align: left;
}
.project-image-box{
    margin-top: 2px;
    width: 448px;
    height: 219px;
}
img{
    width: 448px;
    height: 219px;
}